<ion-header>
  <ion-toolbar>
    <ion-title>
      Componentes avanzados
    </ion-title>
  </ion-toolbar>
</ion-header>
<h2>Uno</h2>
<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div style="font-weight: bold;">
            Nombre
          </div>
        </ion-col>
        <ion-col>
          <div style="font-weight: bold;">
            Edad
          </div>
        </ion-col>
        <ion-col>
          <div style="font-weight: bold;">
            Imagen
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div >
            Norberto Martínez
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align:center;">
            45
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="https://ae01.alicdn.com/kf/H3085688584864d02b2023ec03399aa8c8.jpg_220x220q90.jpg_.webp" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div >
            Norberto Martínez
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align:center;">
            45
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="https://ae01.alicdn.com/kf/H3085688584864d02b2023ec03399aa8c8.jpg_220x220q90.jpg_.webp" />
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm>
          <div>
            1 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            2 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            3 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            4 of 4
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4" style="background-color: red;">
          <div>
            1 of 4
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            2 of 4
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            3 of 4
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            4 of 4
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>    
    <ion-grid>
      <ion-row>
        <ion-col size="3" style="background-color: blue;">
          <div>
            1 of 2
          </div>
        </ion-col>
        <ion-col size="3" offset="3" style="background-color: red;">
          <div>
            2 of 2
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>    
    <ion-grid>
      <ion-row>
        <ion-col size="9" push="3">
          <div>
            1 of 2
          </div>
        </ion-col>
        <ion-col size="3" pull="9">
          <div>
            2 of 2
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
